@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  height: 200px;
  background-color: rgb(88, 88, 255);
  color: white;
}
.header-buttons{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  gap: 40px;
}
.text{
  text-align: center;
  margin-left: 20px;
  margin-top: 100px;
  font-size: 50px;
}
.footer{
  background-color: bisque;
  font-size: 70px;
  text-align: right;
  margin-top: 32%;
  text-decoration: underline;
}
span{
  color: rgb(255, 195, 123);
  font-weight: bold;
}
div > a{
  color:blue
}
  @media only screen and (max-width:320px){
  .header{
    height: 20px;
  }
  .header-buttons{
    font-size: 13px;
    gap: 5px;
    padding: 1px;
  }
  .footer{
    font-size: 8px;
    margin-top: 85vh;
    margin-right: 8px;
  }
  .text{
    margin-top: 10px;
    font-size: 10px;
    margin-left: 5px;
  }
}
