@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  height: 200px;
  background-color: rgb(88, 88, 255);
  color: white;
}
.header-buttons{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  gap: 35px;
}
.text{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 50px;
}
.footer{
  font-size: 70px;
  text-align: right;
  margin-top: 38%;
  margin-right: 50px ;
  text-decoration: underline;
}
  @media only screen and (max-width:320px){
  .header{
    height: 20px;
  }
  .header-buttons{
    font-size: 13px;
    gap: 5px;
    padding: 1px;
  }
  .footer{
    font-size: 8px;
    margin-top: 85vh;
    margin-right: 8px;
  }
  .text{
    margin-top: 10px;
    font-size: 10px;
    margin-left: 5px;
  }
}
